VITE_DIFY_API_TARGET="http://43.201.65.109"
VITE_DIFY_API_URL="/api/dify/v1"
VITE_DIFY_API_KEY="YOUR_API_KEY_HERE"
VITE_DIFY_DATASET_ID="YOUR_DATASET_ID_HERE"
VITE_DIFY_WORKFLOW_API_KEY="YOUR_WORKFLOW_API_KEY_HERE"
